.line
.commentbox__unit
  .commnetbox__unit__line.clearfix
    .commentbox__unit__line__face
    .commentbox__unit__line__menu
    .commentbox__unit__line__name= pick.user.name
    .commentbox__unit__line__job= pick.user.company
  .commentbox__unit__comment
    .commentbox__unit__comment__text= pick.comment
    .commentbox__unit__comment__like
