.header
  .header__menu
    -if user_signed_in?
      =link_to "ログアウト", destroy_user_session_path ,method: :delete
    -else
      =link_to "登録", new_user_registration_path
      =link_to "ログイン", new_user_session_path
  .header__detection
  .header__logo
  .header__user
    .header__user-face
    .header__user-name
    .header__user-style
  .header__info
  .header__pick
-if user_signed_in?
  .menu
    .menu__user
      .menu__user__box
        =link_to image_tag("#{current_user.face}", class: "menu__user__box__face"),"/users/#{current_user.id}"
        .menu__user__box__name=current_user.name
        .menu__user__box__job="#{current_user.company} #{+current_user.position}"
      .menu__user__state.clearfix
        .menu__user__state__following
          %p6 0
          %p フォロー
        .menu__user__state__followed
          %h6 0
          %p フォロワー
      .menu__user__pickstream
        %p タイムライン
    .menu__timeline
      %ul
        =render partial: "pick", collection: @picks

-else
  .menu
    .menu__user
      .menu__user__box
        .menu__user__box__face
        .menu__user__box__name No Account
        .menu__user__box__signup
          =link_to 'アカウントを作成する', new_user_registration_path
      .menu__user__state.clearfix
        .menu__user__state__following
          %p6 -
          %p フォロー
        .menu__user__state__followed
          %h6 -
          %p フォロワー
      .menu__user__pickstream
        %p 人気ユーザー
    .menu__timeline
      %ul
        =render partial: "pick", collection: @picks
