%li
  =render partial: 'image', locals: {image: pick.user.face}
  .menu__timeline__name=pick.user.name
  .menu__timeline__picktime 1分
  .menu__timeline__comment=pick.comment
  =link_to "#{pick.article.title}", "/articles/#{pick.article_id}", class: "menu__timeline__link"
  %p をPickしました。
  .line
