.header
  .header__menu
    =link_to "ログアウト", destroy_user_session_path ,method: :delete
    =link_to "ログイン", new_user_session_path
    - if user_signed_in?
      =link_to "#{current_user.name}",'https://github.com/'
  .header__detection
  .header__logo
  .header__user
    .header__user-face
    .header__user-name
    .header__user-style
  .header__info
  .header__pick
-if user_signed_in?
  .menu
    .menu__user
      .menu__user__box
        .menu__user__box__face
        .menu__user__box__name=current_user.name
        .menu__user__box__job="#{current_user.company} #{+current_user.position}"
      .menu__user__state.clearfix
        .menu__user__state__following
          %p6 0
          %p フォロー
        .menu__user__state__followed
          %h6 0
          %p フォロワー
    .menu__pickstream
      %p タイムライン
    .menu__timeline
      .menu__timeline__face
      .menu__timeline__name
      .menu__timeline__picktime
      .menu__timeline__comment
      .menu__timeline__article-name
      .menu__timeline__article-pick

-else
  .menu
    .menu__user
      .menu__user__box
        .menu__user__box__face
        .menu__user__box__name No Account
        .menu__user__box__signup
          =link_to 'アカウントを作成する', new_user_registration_path
      .menu__user__state.clearfix
        .menu__user__state__following
          %p6 -
          %p フォロー
        .menu__user__state__followed
          %h6 -
          %p フォロワー
    .menu__pickstream
      %p 人気ユーザー
    .menu__timeline
      .menu__timeline__face
      .menu__timeline__name
      .menu__timeline__picktime
      .menu__timeline__comment
      .menu__timeline__article-name
      .menu__timeline__article-pick

.contents
  .contents__top
    .contents__top-center
      .contents__top-center__picknumber
      .contents__top-center__title
      .contents__top-center__newssource
    .contents__top-right
      .contents__top-right-top
        .contents__top-right-top__picknumber
        .contents__top-right-top__title
        .contents__top-right-top__newssource
      .contents__top-right-bottom
        .contents__top-right-bottom__picknumber
        .contents__top-right-bottom__title
        .contents__top-right-bottom__source
  .contents__news
    .contents__news__picks
      .contents__news__picks__new-arrival
        .contents__news__picks__new-arrival__headline 新着ニュース
        .contents__news__picks__new-arrival__news
          =link_to '',"http://junk-blog.com/div_a_link/",class: 'contents__news__picks__new-arrival__news-link'
          .contents__news__picks__new-arrival__news__title ゲーマーは要チェック！防塵・防水仕様のゲーミング
          .contents__news__picks__new-arrival__news__source マッシュメディア 224分前
      =form_for @art do |f|
        =f.text_field :title, placeholder: "URLを入力"
      %h1 hoge
      .news__box
        .news__box__image
        .news__box__number 0
        .news__box__title 日本版GPS衛生「みちびき」を打ち上げ
        .news__box__picker.clearfix
          .news__box__picker__face
          .news__box__picker__name 川奈 一郎
          .news__box__picker__job JapanTaxi 日本交通
          .news__box__picker__comment 待ってました！導きを利用し、2年以内にタクシーメーターをアプリ化します！
        %ul.news__box__pickers.clearfix
          %li.news__box__pickers__face
          %li.news__box__pickers__face
          %li.news__box__pickers__face
          %li.news__box__pickers__face
          %li.news__box__pickers__face
        .news__box__source ホゲホゲ

    .contents__news__recomend
      .contents__news__recomend__tab
      .contents__news__recomend__title
      .contents__news__recomend__subtitle
      .contents__news__recomend__link
    .contents__news__original
      .contents__news__original__line
        %h2 NewaPicks オリジナル記事
        %h4 NewsPicks オリジナル記事 一覧を見る
      .contents__news__original__box
    .contents__news__feature
      .contents__news__feature__line
        %h2 特集：新・経営者の条件
        %h4 特集：新・経営者の条件 一覧を見る
      .contents__news__feature__box
    .contents__news__inovation
      .contents__news__inovation__line
        %h2 イノベーション
        .logo
        %h4 イノベーション 一覧を見る
      .contents__news__inovation__box
    .contents__news__tech
    .contents__news__business
    .contents__news__original
    .contents__news__feature
    .contents__news__political-economy
    .contents__news__market
    .contents__news__education






    .contents__news__social
    .contents__news__job
    .contents__news__good-old
    .contents__news__analysis
  .contents__ranking__user
    .contents__ranking__user__line
      %h2 ユーザーランキング
      %h4 ユーザーランキング 一覧を見る
    .contents__ranking__user__box
      .number
      .contents__ranking__user__box__face
      .contents__ranking__user__box__info
        .contents__ranking__user__box__info__name
        .contents__ranking__user__box__info__tag
        .contents__ranking__user__box__info__job
        .contents__ranking__user__box__info__like_number
      .contents__ranking__user__box___follow-tag
  .contents__ranking__comment
    .contents__ranking__comment__line
      %h2 コメントランキング
      %h4 コメントランキング 一覧を見る。
    .contents__ranking__comment__box
      .contents__ranking__comment__box__user
        .contents__ranking__comment__box__number
        .contents__ranking__comment__box__face
        .contents__ranking__comment__box__name
        .contents__ranking__comment__box__job
        .contents__ranking__comment__box__likes
        .comments__ranking__comment__box__tag
      .contents__ranking__comment__box__comment
      .contents__ranking__comment__box__source
        .contents__ranking__comment__box__source__title
        .contents__ranking__comment__box__source__publisher
.footer
  .footer__line
  .footer__tag