.header
  .header__menu hoge
  .header__detection
  .header__logo
  .header__signup
  .header__login
.user__menu
.header__line
.contents
  .contents__body
    .contents__body__news
    .contents__body__comments
  .contents__infoz
  .contents__ranking__comment
.comment-line
