.header
  .header__menu fuga
  .header__detection fuga
  .header__logo
  .header__signup
  .header__login
.user__menu
.header__line
.contents
  .contents__body
    .contents__body__news
    .contents__body__comments
  .contents__info
  .contents__ranking__comment
.comment-line