%li
  .news__box
    .news__box__image-box
      .news__box__image-box__image=render partial: 'image', locals: {image: article.image}
    .news__box__number="#{article.picks.length}Pick"
    =link_to "#{article.title}", "/articles/#{article.id}", class: 'news__box__title'
    .news__box__picker
      =render partial: 'image', locals: {image: article.picks.last.user.face}
      .news__box__picker__name=article.picks.last.user.name
      .news__box__picker__job=article.picks.last.user.company
      .news__box__picker__comment=article.picks.last.comment
    %ul.news__box__pickers.clearfix
      =render partial: 'pickers', collection: article.picks, as: "pick"
      %li.news__box__pickers__face
    .news__box__source=article.source
