.header

.tags__content
  %p#notice= notice
  %p
    %b タグ：
    = @tag.name
    = link_to 'Edit', edit_tag_path(@tag)
    \|
    = link_to 'Back', tags_path

.tags__articles
  %ul
    =render partial: "article", collection: @articles, as: "article"
