.header {
  width: 100vw;
  height: 50px;
  background-color: #15274D;
  box-shadow: 0 3px 16px gray;
  position: fixed ;
  z-index: 3;
  opacity: 50%;
  &__menu{
    color:red;
  }
}
.form{
  position:fixed;
  z-index: 4;
  right:0;
}

html{
  height: 100vw;
  width:100vw;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.25) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
}
@media(max-width: 192px){
  .wrapper,.content,.sidebar {
    float:none;
    margin: 0;
    width:auto;
  }
}
.wrapper{
  float: right;
  margin: 0;
  width: 100%;
  margin-left:-192px;
}
.menu {
  height: 500px;
  width: 192px;
  background-color: white;
  box-sizing: border-box;
  float: left;
  margin-top: 50px;
  padding-top: 24px;
  overflow: scroll;
  box-sizing: border-box;
  position:fixed;
  &__user {
    height: 162px;
    border-bottom: 1px solid #EAEAEA;
    position: fixed;
    &__box{
      height: 118px;
      width: 100%;
      background-color: white;
      border-bottom: 1px solid #EAEAEA;
      &__face{
        width: 48px;
        height: 48px;
        background-color: pink;
        text-align: center;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }
      &__name {
        font-size: 14px;
        text-align: center;
        font-weight: 700;
        margin: 12px 8px 0;
      }
      &__job {
        font-size: 10px;
        font-color: #666;
        text-align: center;
        word-break: break-all;
        margin-top: 3px;
      }
      &__signup {
        width: 192px;
        font-size: 10px;
        font-color: #666;
        text-align: center;
        word-break: break-all;
      }
    }
    &__state__following{
      width: 95px;
      height: 35px;
      font-size: 8px;
      text-align: center;
      border-right: 1px solid #EAEAEA;
      margin: 4px 0 ;
      float: left;
      background-color: white;
    }
    &__state__followed{
      width: 95px;
      height: 35px;
      font-size: 8px;
      text-align: center;
      margin: 4px 0;
      float: left;
    }
    &__pickstream {
      height: 43px;
      line-height: 43px;
      border-bottom: 1px solid #EAEAEA;
      p {
        margin-left: 20px;
        font-size: 12px;
        color: #999;
      }
    }
  }
  &__timeline{
    width: 192px;
    height: 100%;
    background-color: white;
    overflow: scroll;
    padding: 16px 16px 0 16px;
    margin-top:206px;
    position:fixed;
    word-wrap: break-word;
    box-sizing: border-box;
    .image{
      width: 30px;
      height: 30px;
      background-color: gray;
      margin-right: 8px;
      float:left;
    }
    &__name {
      text-decoration: none;
      color:#15274D;
      font-size: 12px;
      font-weight: 700;
      display: block;
    }
    &__picktime {
      font-size: 10px;
      color: #999;
    }
    &__comment {
      height: 30px;
      margin-top: 8px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__link {
      margin-top: 8px;
      font-size: 12px;
      color: #37509C;
      text-decoration: none;
      display: block;
      line-height: 1.4;
    }
    p {
      margin: 1px 0 16px 0;
      font-size: 12px;
      color: #999;
      line-height: 1.4;
    }
    .line {
      width: 100%;
      border-top: 1px solid #EAEAEA;
      margin-bottom: 16px;
    }
  }
}


.contents {
  padding: 50px 0 0 192px;
  &__top {
    height: 300px;
    border-bottom: 2px solid #EAEAEA;
    box-sizing: border-box;
    position: relative;
    &-center{
      height: 100%;
      width: 66%;
      overflow: hidden;
      // : url(bg.jpg) center center /cover no-repeat;
      background-color: gray;
      border-right: 2px solid white;
      float: left;
      box-sizing: border-box;
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 33%;
      &__title {
        width: 80%;
        height: 70px;
        font-size: 24px;
        font-weight: 700;
        text-shadow: 2px 2px 4px black;
        color: white;
        overflow: hidden;
        position: absolute;
        top: 60%;
        left: 7%;
        z-index: 1;
      }
      &__source {
        font-size: 14px;
        color: #CCC;
        text-shadow: 1px 1px 2px black;
        position:absolute;
        bottom: 9%;
        left: 7%;
        z-index: 1;
      }
      // .blue-color{
      //   height: 1000px;
      //   width: 1000px;
      //   background-color: blue;
      //   z-index: 3;
      // }
      .color{
          height: 100%;
          width: 100%;
          background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(100,100,100,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(100,100,100,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(100,100,100,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
          background-attachment: fixed;
          z-index: 3;
      }
      .image {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: gray;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    &-right {
      height: 100%;
      width: 34%;
      float: right;
      &-top {
        height: 50%;
        width: 100%;
        border-bottom: 2px solid #EAEAEA;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        .image {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: gray;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        &__special{
          font-size: 10px;
          color: white;
          text-shadow: 1px 1px 2px black;
          position:absolute;
          bottom: 40%;
          left: 7%;
          z-index: 1;
        }
        &__title {
          width: 80%;
          height: 50px;
          font-size: 16px;
          font-weight: 700;
          text-shadow: 2px 2px 4px black;
          color: white;
          overflow: hidden;
          position: absolute;
          top: 60%;
          left: 7%;
          z-index: 1;
        }
      }
      &-bottom {
        height: 50%;
        width: 100%;
        overflow: hidden;
        position: relative;
        .image {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: gray;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        &__special{
          font-size: 10px;
          color: white;
          text-shadow: 1px 1px 2px black;
          position:absolute;
          bottom: 40%;
          left: 7%;
          z-index: 1;
        }
        &__title {
          width: 80%;
          height: 50px;
          font-size: 16px;
          font-weight: 700;
          text-shadow: 2px 2px 4px black;
          color: white;
          overflow: hidden;
          position: absolute;
          top: 60%;
          left: 7%;
          z-index: 1;
        }
        &__source {
          font-size: 10px;
          color: #CCC;
          text-shadow: 1px 1px 2px black;
          position:absolute;
          bottom: 9%;
          left: 7%;
          z-index: 1;
        }
      }
    }
  }
  &__body{
    &__picks {
      height: 1174px;
      box-sizing: border-box;
      padding: 35px 24px 32px 24px;
      &__new-arrival {
        width: 256px;
        height: 724px;
        background-color: white;
        box-sizing: border-box;
        float: right;
        margin-bottom: 14px;
        &__headline {
          margin: 40px 32px 16px;
          font-size: 14px;
          color: #15274D;
          font-weight: 700;
        }
        &__news {
          height: 90px;
          width: 256px;
          padding:14px 32px;
          box-sizing: border-box;
          position: relative;
          &-link{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &__title{
            height: 40px;
            font-size: 14px;
            font-weight: 700;
            color: #333;
            margin-bottom: 8px;
            overflow: hidden;
          }
          &__source {
            font-size: 10px;
            color: #AAA;
          }
        }
        &__news:hover {
          background-color: #EAEAEA;
          filter: alpha(opacity=50);
          -moz-opacity: 0.5;
          opacity: 0.5;
        }
      }
    }
    &__inovation {
      height: 308px;
      background-color: #5B87C6;
    }
  }
}


.contents {
  &__back{
    height:40px;
    width: 100%;
    background-color: white;
    position: fixed ;
    z-index: 1;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    &__root {
      text-decoration: none;
      color: #37509C;
      display: block;
      line-height: 40px;
    }
    &__root:hover {
      color: #00008B;
    }
  }
  &__news{
    &__picks-left {
      width: 528px;
      height: auto;
      margin: 64px 0 0 50px;
      float: left;
      &-top {
        height: auto;
        width: 100%;
        padding-bottom: 16px;
        margin-bottom: 8px;
        background-color: white;
        position: relative;
        &-top {
          height: 210px;
          width: 528px;
          position: relative;
          overflow: hidden;
          &__image {
            height: auto;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: gray;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
        &__number {
          height: 32px;
          width: 72px;
          position: absolute;
          top: 20px;
          right: 0;
          color: white;
          text-align: center;
          line-height: 32px;
          background-color: rgba(128,128,128,0.5);
          border: 1px solid white;
        }
        &__title {
          font-size: 24px;
          font-weight: 700;
          line-height: 1.4;
          margin: 16px 24px 16px 24px;
        }
        &__source {
          font-size: 12px;
          color: #999;
          margin: 16px 24px;
        }
        &__text {
          font-size: 14px;
          margin:0 24px;
        }
        &__link {
          height: 42px;
          width: 480px;
          display: block;
          font-size: 14px;
          color: #37509C;
          text-align: center;
          text-decoration: none;
          border:1px solid #37509C;
          box-sizing: border-box;
          border-radius: 2px;
          margin: 10px 24px 0px;
          line-height: 42px;
        }
      }



      &-bottom {
        width: 100%;
        height: 1500px;
        background-color: white;
        &__pickbox{
          width: 100%;
          height: 74px;
          border-bottom: 1px solid #EFEFEF;
          padding: 16px 24px;
          box-sizing: border-box;
          &__face  {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: pink;
            float: left;
            margin-top: 2px;
          }

          &__comment {
            border:none;
            background:none;
            width: 218px;
            height: 44px;
            background-color: white;
            border: 1px solid #d9d9d9;
            border-radius: 2px;
            float: left;
            line-height: 50px;
            padding-left: 20px;
            margin: 0 8px 0 12px;
            box-sizing: border-box;
          }
          &__share {
            height: 44px;
            font-size: 8px;
            color: #999;
            padding-left: 8px;
            line-height: 44px;
            float: left;
          }
          &__pick {
            border:none;
            background:none;
            width: 79px;
            height: 44px;
            border-radius: 2px;
            background-color: #27375c;
            color: white;
            text-align: center;
            line-height: 44px;
            float: right;
          }
        }

        &__commentbox {
          padding: 0px 24px;
          p {
            color: #00133A;
            font-size: 12px;
            font-weight: 700;
            padding: 24px 0 16px 0;
          }
          .line {
            width: 100%;
            border-top: 1px solid #EFEFEF;
          }
          .commentbox__unit{
            height: auto;
            padding: 24px 0 20px 0;
            &__line{
              margin-bottom: 8px;
              &__face {
                height: 40px;
                width: 40px;
                margin: 24px 0 0 20px;
                float: left;
                .image{
                  height: 40px;
                  width: 40px;
                  top: 50%;
                  left: 50%;
                  background-color: gray;
                  -webkit-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                }
              }
              &__name {
                font-size: 16px;
                font-weight: 700;
                color:#15274D;
              }
              &__job {
                font-size:12px;
                color: #999;
              }
              &__menu {
                width: 32px;
                height: 32px;
                background-color: orange;
                float: right;
              }
            }
            &__comment {
              position: relative;
              margin-top: 8px;
              &__text {
                width: 380px;
                font-size: 14px;
                margin-left: 56px;
                word-wrap: break-word;
              }
              &__like {
                height: 34px;
                width: 34px;
                background-color: black;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
              }
            }
          }
        }
      }
    }
    &__picks-tags{
      width: 30%;
      float: left;
      margin:64px 0 0 50px;
      &__input {
        width: 100%;
        height: 100px;
        background-color: #F5F5F5;
        padding: 20px 24px 0 24px;
        box-sizing: border-box;
        p {
          font-size: 14px;
          font-weight: 700;
          color: #000080;
          margin-bottom: 10px;
        }
        .form{
          // heigth: 50px;
          // width: 100px;
          // // float:left;
          // background-color: red;
          // display: block;
        }
        .button{
          height: 28.5px;
          padding: 0 5px;
          font-size: 10px;
          font-color: black;
          font-weight: 700;
          display: block;
          text-decoration: none;
          background-color: #D3D3D3;
          border: none;
          float: right;
        }
      }
      &__added {
        width: 100%;
        height: 100px;
        background-color: #F5F5F5;
        padding: 20px 24px 0 24px;
        margin-top: 10px;
        box-sizing: border-box;
        p {
          font-size: 14px;
          font-weight: 700;
          color: #000080;
          margin-bottom: 10px;
        }
        .tag {
          width:100%;
          height: 40px;
          line-height: 40px;
          color:  #191970;
          background-color: #DCDCDC;
          font-weight: 700;
          text-decoration: none;
          display: block;
          text-align: center;
          margin: 5px 10px 0 0;
          border-radius: 6px;
        }
      }
    }
  }
}

.content {
  padding-top: 50px;
  margin:0 auto;
  width: 80%;
  height: 1000px;
  &-top{
    margin-top: 40px;
    background-color: #EAEAEA;
    &__user {
      &__info{
        height: 142px;
        border-bottom: 1px solid white;
        padding-top:30px;
        box-sizing: border-box;
        &__face{
          margin: 0 90px 0 30px;
          width: 30px;
          height: 30px;
          float: left;
          .image{
            width: 80px;
            height: 80px;
            background-color: pink;
            text-align: center;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
          }
        }
        &__name{
          font-size: 20px;
          font-weight: 700;
        }
        &__job{
          font-size: 12px;
          color: #999;
          margin-left: 151px;
        }
        &__like{
          font-size: 12px;
          color: #999;
          margin: 10px 0 0 151px;
        }
      }
      &__state{
        ul{
          li{
            width: 96px;
            height: 54px;
            font-size: 14px;
            text-align: center;
            float: left;
            font-weight: 700;
            color: #15274D;
            border-right: 1px solid white;
            box-sizing: border-box;
            span{
              font-weight: 700;
              color: #15274D;
              line-height: 54px;
            }
            h4 {
              font-weight: 700;
              color: #15274D;
              margin-top: 10px;
            }
            h5 {
              font-size: 10px;
              color: #999;
            }
            &__followed{
            }
            &__search{
            }
          }
          li:hover {
            border-bottom: 3px solid #15274D;
          }
          .content-top__user__state__search{
            width: 70px;
            border-left: 1px solid white;
            border-right: 1px solid white;
            float: right;
            color: gray;
            line-height: 54px;
            margin-right: 30px;
            padding: 0 20px;
          }
        }
      }
    }
  }
  &__line{
    height: 24px;
    width: 100%;
  }
  &-bottom{
    width: 100%;
    height: 1000px;
    background-color: #EAEAEA;

  }
}



.tags__content{
  padding-top: 60px;
  height: 100px;
  width: 80vw;
  margin: 0 auto;
  background-color: #F5F5F5;
}
.tags__articles{
  margin-top: 60px;
  height: 300px;
  width: 80vw;
  margin: 0 auto;
  background-color: #F5F5F5;
}



.news__box {
  width: 256px;
  height: 355px;
  background-color: white;
  position: relative;
  float: left;
  margin: 0 14px 14px 0;
  &__image-box {
    height: 102px;
    width: 100%;
    background-color: #D3D3D3;
    overflow: hidden;
    position: relative;
    .image {
      height: auto;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #FAEBD7;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  &__number {
    height: 32px;
    width: 72px;
    color: white;
    background-color: rgba(128,128,128,0.5);
    border: 1px solid white;
    position: absolute;
    top: 8px;
    right: 0px;
    text-align: center;
    line-height: 32px;
  }
  &__title {
    text-decoration: none;
    display: block;
    width: 216px;
    height: 50px;
    margin: 16px 20px 12px 20px;
    font-weight: 700;
    font-size: 16px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__title:hover{
    color: gray;
  }
  &__picker {
    .image{
      width: 32px;
      height: 32px;
      background-color: #FAEBD7;
      margin: 0 8px 0 20px;
      float:left;
    }
    &__name {
      text-decoration: none;
      color: #15274D;
      font-size: 14px;
      font-weight: 700;
      height: 18px;
      display: block;
    }
    &__job {
      font-size: 12px;
      color: #999;
      height: 17px;
    }
    &__comment{
      height: 52px;
      margin: 8px 20px 12px 20px;
      line-height: 1.4;
      font-size: 13px;
      overflow:hidden;
      text-overflow: ellipsis;
    }
  }
  &__pickers {
    margin-left: 20px;
    position: absolute;
    bottom: 48px;
    .image{
      width: 24px;
      height: 24px;
      background-color: #FAEBD7;
      margin-right: 4px;
      float:left;
    }
  }
  &__source {
    width: 256px;
    height: 32px;
    border-top: 1px solid #EAEAEA;
    position: absolute;
    bottom: 0;
    padding: 8px 20px;
    box-sizing: border-box;
    font-size: 10px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
